@use "reset/reset";
@use "variables/variables";

body {
  background-color: variables.$color-petri-dish;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: variables.$body-height;
  width: variables.$body-width;
  font-family: variables.$font-main-style;
  color: variables.$color-cells-alive;
}

.game-scenario {
  padding: variables.$padding-top;
  display: flex;

  &_petri-dish {
    display: flex;
    flex-direction: column;
  }

  &__petri-cell {
    display: flex;
    border-radius: variables.$cell-rounder;

    width: variables.$cell-size;
    height: variables.$cell-size;

    &--alive {
      background: variables.$color-cells-alive;
    }
  }
}
