@import url("/node_modules/@fontsource/press-start-2p/400.css");

$color-petri-dish: #172432;
$color-cells-alive: #848c94;
$font-main-style: "Press Start 2P";
$body-height: 100vh;
$body-width: 100vw;
$cell-size: 0.5rem;
$cell-rounder: 0.25rem;
$padding-top: 20px;
